@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.custom-prev,
.custom-next {
  font-size: 14px; /* Smaller font size */
  width: 40px; /* Wider size */
  height: 30px; /* Smaller height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; /* Rounded corners */
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Custom Scrollbar Styling */
.scrollable {
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust height to fit the container */
}

/* Scrollbar container */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Scrollbar track */
.scrollable::-webkit-scrollbar-track {
  background-color: #ffffff; /* Light background for the track */
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
.scrollable::-webkit-scrollbar-thumb {
  background-color: #007BFF; /* Darker color for the thumb */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Scrollbar thumb hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #0073ee; /* Darker on hover */
}

/* Add a margin-right to the left section to create space */
.scrollable {
  margin-right: 20px; /* Adjust the value as needed */
}
